* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 2%;
}

body {
  color: black;
  background: lightblue;
  background-size: cover;
  
}

background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.header {
  text-align:center;
  font-family: 'Julius Sans One', sans-serif;
  
}

.mwcLogo {
  max-width: 50%;
  padding-top: 10px;
}

.header ul {
  display: inline-block;
  margin: 20px;
  list-style: none;
  font-size: 20px;
  border: 1px solid #371d0d;
  border-radius: 2%;
  background: #ffffff;
}

.header li {
  display: inline-block;
  margin: auto;
}

.images {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 90%;
  overflow: hidden;
}

.quizBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.topScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: auto;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #371d0d;
  border-radius: 2%;
  width: 50%;
  line-height: 1.5;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
}

.h1 {
  padding-bottom: 40px;
}

.questionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: auto;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #371d0d;
  border-radius: 2%;
  width: 50%;
  line-height: 1.5;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
}

.answers {
  padding-bottom: 10px;
}

.feedbackBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #371d0d;
  border-radius: 2%;
  width: 50%;
  line-height: 1;  
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
}

.finalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #371d0d;
  border-radius: 2%;
  width: 50%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.start {
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  cursor: pointer;
  border: 1px solid #371d0d;
  background-color: #3455db;
  color: #ffffff;
}

.start:hover,
.start:active {
  background-color: #ffffff;
  color:#371d0d;
  border: 0.1em #371d0d solid;
}

.submit {
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  cursor: pointer;
  border: 1px solid 371d0d;
  background-color: #3455db;
  color: #ffffff;
  text-align: center;
}

.submit:hover,
.submit:active {
  background-color: #ffffff;
  color:#371d0d;
  border: 0.1em #371d0d solid;
}

.next {
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  cursor: pointer;
  border: 1px solid 371d0d;
  background-color: #3455db;
  color: #ffffff;
  text-align: center;
}

.next:hover,
.next:active {
  background-color: #ffffff;
  color:#371d0d;
  border: 0.1em #371d0d solid;
}

.startNew {
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  cursor: pointer;
  border: 1px solid 371d0d;
  background-color: #3455db;
  color: #ffffff;
  text-align: center;
}

.startNew:hover,
.startNew:active {
  background-color: #ffffff;
  color:#371d0d;
  border: 0.1em #371d0d solid;
}

.final {
  display: block;
}

.quizMe {
  padding-left: 10px;
  padding-right: 10px;
}

.quizYou {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
  padding-bottom: 10px;
  
}

.questionText {
  padding-top: 10px;
  padding-bottom: 10px;
}

fieldset {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-bottom: 10px;
  
}
